<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
        <li>
            <a href="{{ site.baseurl }}/pages/intro.html" {% if page.url == "/pages/intro.html" %}class = "active"{% endif %}>Introduction</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/pages/the_terminal.html" {% if page.url == "/pages/the_terminal.html" %}class = "active"{% endif %}>Using the terminal</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/pages/version_control.html" {% if page.url == "/pages/version_control.html" %}class = "active"{% endif %}>Version control</a>
                </li>
            </ul>
        </li>

  </ul>

  </nav>
</footer>
